<head>
<link href="/sala.css" rel="stylesheet" type="text/css">
</head>

<body class="fondo">
	<h1>Black Jack 3N</h1>
	<% @@partida.getJugadores.each_with_index do |jugador, index_jugador| %>

		Cartas Jugador <%=index_jugador + 1%>:
		<div id="cartas-<%=index_jugador + 1%>">
			<% @@partida.getJugador(index_jugador).cartasJugador.each_with_index do |carta, index_carta| %>
			<div id="carta-<%=index_carta + 1%>" class="carta"><%=carta%></div>
			<% end %>
		</div>
		<div class="resultado">
			Total: <%= @@partida.getJugador(index_jugador).scoreJugador %> 
		</div>
		<form method="POST" action="/jugador/carta/<%=index_jugador%>">
			<input id="pedir-carta" type="submit" value="Pedir carta"/>
		</form>
		<form method="POST" action="/jugador/plantarse/<%=index_jugador%>">
			<input id="plantarse" type="button" value="Plantarse"/>	
		</form>
		<div class="resultado">
			Esta plantado?: <%= @@partida.getJugador(index_jugador).estaPlantado %> 
		</div>
		<hr>
	<% end %>

</body>